@tailwind base;
@tailwind components;
@tailwind utilities;

/* .table {
    border-spacing: 0 15px;
    
}

i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
    background-color: #080F34;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
    border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: .625rem 0 0 .625rem;
} */



.navbar{
    background-color: #080F34;
    color: white;
}
*{
    font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 4px;
}


.card {
  backdrop-filter: blur(6px) saturate(0%);
  -webkit-backdrop-filter: blur(6px) saturate(0%);
  background-color: rgba(219, 219, 219, 0.76);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  width: 90%;
  height: 250px;
  margin-left: 5%;
}

.track-card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media (max-width:768px) {
  .card{
    height: auto;
  }
  .card-sub{
    gap:0%;
  }
  .track-card{
    height: auto !important;
  }
}