@tailwind base;
@tailwind components;
@tailwind utilities;

/* .table {
    border-spacing: 0 15px;
    
}

i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
    background-color: #080F34;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
    border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: .625rem 0 0 .625rem;
} */



.navbar{
    background-color: #080F34;
    color: white;
}
*{
    font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 4px;
}
/* Popup overlay styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}

/* Popup content styles */
.popup-content {
  background-color: #fff;
  max-height: 80vh;
  overflow-y: auto;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  margin-right: 20px;
  margin-left: 20px;
  
}


.card {
  backdrop-filter: blur(6px) saturate(0%);
  -webkit-backdrop-filter: blur(6px) saturate(0%);
  background-color: rgba(219, 219, 219, 0.76);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  width: 90%;
  height: 250px;
  margin-left: 5%;
}

.track-card{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media (max-width:780px) {
  .card{
    height: auto;
  }
  .card-sub{
    gap:0%;
  }
  .track-card{
    height: auto !important;
  }
  .titles{
    font-size: 20px;
  }
  .sub-titles{
    font-size: 18px;
    margin-left: 30px;
    font-weight: 600;
  }
  .input-field{
    display: none;
  }
}
@media (max-width:1000px) {
  .vendor-responsive{
    transform: scale(.9);
  }
  .gap-change{
    gap: 20px;
  }
  .card-amount-adjust{
    font-size: 25px;
  }
  .entries-gap-adjust{
    gap: 50px;
  }
}
@media (max-width:530px) {
  .vendor-responsive{
    transform: scale(.8);
  }
  .gap-change{
    gap: 0px;
  }
  .card-text-adjust{
    font-size: 15px;
  }
}

@media (max-width:450px) {
  .vendor-responsive{
    transform: scale(.7);
  }
  .popup-content{
    min-width: 450px;
  }
}

@media (max-width:900px) {
  .input-field2{
    display: none;
  }
  .sub-titles2{
    font-size: 18px;
  }
  .popup-responsive{
    transform: scale(0.8);
  }
}

